.restorepasswordform {
  width: 350px;
  padding: 30px;
}

.title {
  margin-bottom: 25px;
}

.emailLabel {
  display: inline-block;
  margin-bottom: 5px;
}

.regLinkBlock {
  margin-bottom: 20px;
}

.loginLinkBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.regLink {
  color: var(--text-link-color);
}

.noticeBlock {
  display: flex;
  gap: 10px;
}

.successIcon {
  width: 40px;
  height: 40px;
}

.noticeText {
  line-height: 20px;
  margin-bottom: 20px;
}
