.registerform {
  width: 350px;
  padding: 30px;
}

.title {
  margin-bottom: 25px;
}

.emailLabel,
.passwordLabel {
  display: inline-block;
  margin-bottom: 5px;
}

.passwordLabel {
  margin-top: 20px;
}

.rememberMe {
  margin-top: 25px;
  margin-bottom: 25px;
}

.regLinkBlock {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.regLink {
  color: var(--text-link-color);
}

.noticeBlock {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.successIcon {
  width: 40px;
  height: 40px;
}

.noticeText {
  line-height: 20px;
}
