.sessionform {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  min-height: 350px;

  @media (max-width: 576px) {
    padding: 15px;
    flex-direction: column;
  }
}
