.sessioncontrolls {
  width: 100%;
  max-width: 280px;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;

  h3 {
    font-size: 20px;
    font-weight: 500;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    button {
      max-width: 190px;
      line-height: 20px;
    }
  }

  .buttonWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

    button {
      max-width: 240px;
    }
  }

  @media (max-width: 576px) {
    max-width: 100%;
  }
}

.modal {
  & > div > div {
    @media (max-width: 576px) {
      padding: 10px;
      max-width: 90%;
    }
  }
}

.modalWrapper {
  padding: 20px;
  max-width: 500px;
}

.modalBodyWrapper {
  margin-bottom: 30px;

  .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--text-accent-color);
  }

  .body {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-accent-color);
  }
}

.modalBtns {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  /* stylelint-disable-next-line no-descending-specificity */
  button {
    max-width: 200px;
  }
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
