.sessionpage {
  width: 100%;

  @media (max-width: 576px) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.container {
  margin-bottom: 16px;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.cardsControllBlock {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 16px;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}
