.sessionform {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > div {
    width: 100%;
  }

  span {
    color: var(--text-secondary-color);
    font-size: 18px;
    margin-right: auto;
  }

  input {
    font-size: 16px;

    &:read-only {
      font-size: 18px;
    }
  }

  .titleBlock,
  .infoBlock {
    font-size: 18px;
    color: var(--text-accent-color);
    text-align: right;
  }

  .infoBlock {
    font-size: 16px;
  }

  @media (max-width: 525px) {
    gap: 20px;
    flex-direction: row;
    align-items: center;

    & > div {
      text-align: right;
      max-width: 100%;
      margin-left: 0;
    }

    input {
      text-align: right;
    }
  }
}

.editBtnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;

  .loader {
    height: 40px;

    & > div {
      top: 13px;
    }
  }
}

.cancelBtn {
  max-width: 150px;
}

.saveBtn {
  max-width: 150px;
}

.leaveEditBtnsWrapper {
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: flex-end;

  &.mobile {
    flex-direction: column;

    & > button {
      width: 100%;
      max-width: 100%;
    }
  }

  @media (max-width: 525px) {
    margin-top: 10px;
  }
}

.editBtn {
  display: none;
  margin-left: auto;
  max-width: 200px;
  gap: 10px;
  align-items: center;
  min-height: 49px;

  &.visible {
    display: inline-flex;
  }

  svg {
    stroke: var(--text-inverted-color);
  }

  @media (max-width: 576px) {
    width: fit-content;
    padding: 12px;
  }
}

.exitBtn {
  min-width: 210px;
  max-width: 210px;
  display: none;
  gap: 10px;
  align-items: center;
  justify-content: center;

  svg {
    width: 25px;
    height: 25px;
    fill: var(--text-inverted-color);
  }

  &.visible {
    padding: 12px;
    display: inline-flex;
  }

  @media (max-width: 576px) {
    max-width: 100%;
    padding: 12px;
    font-size: 14px;
  }
}
