.loginform {
  width: 350px;
  padding: 30px;
}

.title {
  margin-bottom: 25px;
}

.emailLabel,
.passwordLabel {
  display: inline-block;
  margin-bottom: 5px;
}

.passwordLabel {
  margin-top: 20px;
}

.rememberMeBlock {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}