.setnewpasswordform {
  padding: 30px;
  max-width: 420px;
}

.title {
  margin-bottom: 25px;
}

.passwordLabel {
  display: inline-block;
  margin-bottom: 5px;
}

.regLinkBlock {
  margin-bottom: 20px;
}

.loginLinkBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.regLink {
  color: var(--text-link-color);
}

.noticeBlock {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.successIcon {
  width: 40px;
  height: 40px;
}

.noticeText {
  line-height: 20px;
}
