.cardsWrapper {
  padding: 20px;

  h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.cardsblock {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  @media (max-width: 576px) {
    justify-content: center;
    padding: 20px 0;
  }
}

.placeholderCard {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--bg-secondary-color);
  box-shadow: 2px 2px 8px 0 var(--card-shadow-color);
  display: inline-flex;
  align-items: center;

  img {
    width: 100px;
    height: 120px;
    object-fit: cover;

    @media (max-width: 576px) {
      width: 130px;
      height: 170px;
    }
  }

  @media (max-width: 576px) {
    width: 140px;
    height: 180px;
  }
}
