.sessionstable {
  border-collapse: collapse;
  width: 100%;

  &table,
  th,
  td {
    border-collapse: collapse;
  }

  thead {
    tr {
      th {
        &:nth-of-type(1) {
          width: 220px;
        }

        &:nth-of-type(2) {
          width: 150px;
        }

        &:nth-of-type(3) {
          width: 200px;
        }

        &:nth-of-type(4) {
          width: 180px;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        line-height: 20px;
        text-align: center;
      }
    }
  }

  & > div {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .headerCell {
    padding: 15px;
    position: relative;
    background-color: var(--table-header-bg-color);
    line-height: 20px;

    & > div {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }

    &:first-of-type {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:last-of-type {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &:not(:last-of-type) {
      &::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background-color: var(--text-secondary-color);
      }
    }
  }

  .bodyRow {
    color: var(--text-accent-color);

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--border-primary);
    }
  }

  .titleCell {
    padding: 20px;

    & > div {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .statusCell {
    & > div {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }

    .green,
    .grey {
      width: 10px;
      height: 10px;
      border-radius: 50%;

      @media (max-width: 991px) {
        width: 12px;
        height: 12px;
      }
    }

    .green {
      background-color: var(--bg-accent-color);
    }

    .grey {
      background-color: var(--bg-disabled-color);
    }

    .statusTitle {
      @media (max-width: 991px) {
        display: none;
      }
    }

    .statusTooltip {
      display: none;

      @media (max-width: 991px) {
        display: block;
      }
    }
  }

  .link {
    color: var(--tab-bg-selected-color);
  }
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.infoCell {
  @media (max-width: 761px) {
    width: 20%;
  }
}

.tabsTitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.icon {
  stroke: var(--text-danger-color);
}
