.profileblock {
  display: flex;
  gap: 40px;
  align-items: center;

  @media (max-width: 767px) {
    gap: 20px;
  }
}

.logoutIcon {
  fill: var(--text-link-color);
  transition: transform 0.3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  @media (max-width: 576px) {
    width: 40px;
    height: 40px;
  }
}
