.modal {
  & > div > div {
    max-width: 80%;
  }
}

.sessionform {
  display: flex;
  flex-direction: column;
  gap: 30px;

  h3 {
    color: var(--text-accent-color);
    margin-bottom: 20px;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}

.fieldWrapper {
  display: flex;
  justify-content: space-between;
  gap: 25px;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.label,
.input {
  color: var(--text-accent-color);
}

.label {
  width: 70%;
}

.buttonWrapper {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  button {
    max-width: 150px;
  }

  @media (max-width: 576px) {
    gap: 20px;
  }
}
